<%- include("partials/_header") %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
      <div class="card-body">
        <form action="/add" method="POST">
          <input type="text" name="nombre" placeholder="nombre" class="form-control-mb-3" autofocus />
          <select name="lugar" class="form-control-mb-3">
            <% if (lugares && lugares.length > 0) { %>
              <% lugares.forEach((lugar) => { %>
                <option value="<%= lugar.idLugar %>"><%= lugar.lugarDestino %></option>
              <% }); %>
            <% } else { %>
              <option value="">No hay lugares disponibles</option>
            <% } %>
          </select>
          <h6>Fecha de ida:</h6>
          <input type="date" name="fechaida" class="form-control-mb-3" required />
          <h6>Fecha de vuelta:</h6>
          <input type="date" name="fechavuelta" class="form-control-mb-3" required />
          <button type="submit" class="btn-btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>

  <script>
    // Al cambiar el destino, obtener el precio desde el servidor
    document.getElementById('destinoSelect').addEventListener('change', async (event) => {
        const destinoId = event.target.value;
        const response = await fetch(`/precio/${destinoId}`);
        const data = await response.json();
        
        if (data.precio) {
            document.getElementById('precioDisplay').textContent = `$${data.precio} ARS`;
        } else {
            document.getElementById('precioDisplay').textContent = 'Error al calcular el precio';
        }
    });
  </script>

  <%- include("partials/_footer") %>