<%- include("partials/_header") %>
    <section class="search">
        <h2>¡Haz realidad tus proximas vacaciones!</h2>
        <button class="button-reserva">Reserva tu proximo viaje</button>
    </section>

    <section class="offers">
        <h2>Ofertas destacadas</h2>
        <% const offers=[ { route: 'Mendoza - Córdoba' , price: '???' }, { route: 'Mendoza - Salta' , price: '???' }, {
            route: 'Mendoza - Bariloche' , price: '???' } ]; %>
            <% offers.forEach(offer=> { %>
                <div class="offer-card">
                    <h3>
                        <%= offer.route %>
                    </h3>
                    <p>Precio: $<%= offer.price %>
                    </p>
                    <button>Comprar</button>
                </div>
                <% }); %>
    </section>

    <%- include("partials/_footer") %>

    <% if (!user) { %>
        <!-- Botón para iniciar sesión -->
        <div class="login-circle" aria-label="Iniciar sesión" title="Iniciar sesión">+</div>
        <% } else { %>
            <!-- Botón para cerrar sesión -->
            <div class="logout-circle" id="logoutButton" aria-label="Cerrar sesión" title="Cerrar sesión">x</div>
            <% } %>
                <script>
                    // Verificar si el botón de iniciar sesión existe antes de añadir el eventListener
                    const loginButton = document.querySelector('.login-circle');
                    if (loginButton) {
                        loginButton.addEventListener('click', function () {
                            window.location.href = '/login';
                        });
                    }
                    // Verificar si el botón de cerrar sesión existe antes de añadir el eventListener
                    const logoutButton = document.getElementById('logoutButton');
                    if (logoutButton) {
                        logoutButton.addEventListener('click', function () {
                            // Lógica para cerrar sesión
                            window.location.href = '/logout'; // Redirige a la ruta de logout
                        });
                    }
                    // Añadir el eventListener para la reserva
                    document.querySelector('.button-reserva').addEventListener('click', function () {
                        window.location.href = '/customers'; // Redirige a la página de clientes
                    });
                </script>
                </body>

                </html>